@page "/RProveedor";
@page "/RProveedor/{ProveedorId:int}";
@inject HttpClient httpClient
@inject NotificationService notificationService;
@inject NavigationManager navigationManager;

<EditForm Model="proveedor" OnValidSubmit="Relleno">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <div class="col">
                <button @onclick="Relleno"><i class="bi bi-arrow-left-circle"></i></button>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img src="Images/pngwing.com.png" class="img-logo" />
                <h1>Registro de Proveedores</h1>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="Nombre" class="col-2">Nombre:</label>
                <div class="input-group col-md-6">
                    <InputNumber @bind-Value="proveedor.ProveedorId" class="id-input"></InputNumber>
                    <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Relleno"></button>
                </div>
                <div class="col-md-6">
                    <label>Fecha:</label>
                    <InputText @bind-Value="proveedor.Nombre" class="form-control"></InputText>
                    <ValidationMessage For="@(() => proveedor.Nombre)" />
                </div>
                <div class="col-md-6">
                    <label>Direcci&oacute;n:</label>
                    <InputText @bind-Value="proveedor.Direccion" class="form-control"></InputText>
                    <ValidationMessage For="@(() => proveedor.Direccion)" />
                </div>
                <div class="col-md-6">
                    <label>Telefono:</label>
                    <InputText @bind-Value="proveedor.Telefono" class="form-control"></InputText>
                    <ValidationMessage For="@(() => proveedor.Telefono)" />
                </div>
                <div class="col-md-6">
                    <label>Categor&iacute;a:</label>
                    <InputText @bind-Value="proveedor.Categoria" class="form-control"></InputText>
                    <ValidationMessage For="@(() => proveedor.Categoria)" />
                </div>
                <div class="col-md-6">
                    <label>RNC:</label>
                    <InputText @bind-Value="proveedor.RNC" class="form-control"></InputText>
                    <ValidationMessage For="@(() => proveedor.RNC)" />
                </div>
                <div class="col-md-6">
                    <label>Tipo Contribuyente:</label>
                    <InputText @bind-Value="proveedor.TipoContribuyente" class="form-control"></InputText>
                    <ValidationMessage For="@(() => proveedor.TipoContribuyente)" />
                </div>
            </div>
        </div>
    </div>
</EditForm>
@code{
    public Proveedores? proveedor { get; set; }
    private void Relleno(){}
}