@page "/C_Mermas";
@inject HttpClient httpClient
@inject NotificationService notificationService;
@inject NavigationManager NavigationManager;

<PageTitle>Consulta Mermas</PageTitle>

<div class="card">
    <div class="card-header d-flex align-items-center">
        <button @onclick="VolverAtras"><i class="bi bi-arrow-left-circle"></i></button>
        <img src="Images/pngwing.com.png" class="img-logo" />
        <h1>Consultas de Mermas</h1>
    </div>

    <div class="card-body">
        <div class="input-group-text">
            <label class="form-control-label col-1">Desde:</label>
            <div class="col-md-3">
                <input class="form-control" type="date" @bind="Desde" />
            </div>
            <label class="form-control-label col-1">Hasta:</label>
            <div class="col-md-3">
                <input class="form-control" type="date" @bind="Hasta" />
            </div>
        </div>
    </div>

    <div class="row">
        <label class="mt-2">Filtrar por:</label>

        <div class="col-4">
            <select class="form-select" @bind="opciones">
                <option value="0" disabled selected>Elija una opci&oacute;n</option>
                <option value="1">Motivo</option>
                <option value="2">Producto</option>
                <option value="3">Solo Fecha</option>
            </select>
        </div>

        @if(opciones == 1 || opciones ==2)
        {
            <div class="col-md-4">
                <input type="text" class="form-control" @bind="FiltroString"></input>
            </div>
        }

        <div class="col col-md-4">
            <button class="btn btn-primary ml-2" type="button" @onclick="Buscar">
                <i class="oi oi-magnifying-glass" />
            </button>
        </div>
    </div>

    <div class="table-responsive mt-2">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Cantidad dañada</th>
                    <th>Motivo</th>
                    <th>Observaci&oacute;n</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                @foreach (var merma in ListaMermas)
                {
                    <tr>
                        <td>@merma.Fecha</td>
                        <td>@ObtenerNombreProducto(merma.ProductoId)</td>
                        <td>@merma.Cantidad</td>
                        <td>@merma.Motivo</td>
                        <td>@merma.Observaciones</td>
                        <td>
                            <a href="
                                    @($"RMermas/{merma.MermaId}")
                                                " class="btn btn-outline-primary">
                                <i class="oi oi-eye" />
                            </a>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>

@code {

    public DateTime Desde { get; set; }
    public DateTime Hasta { get; set; }
    public string FiltroString { get; set; } = "";
    public int opciones { get; set; } = 0;
    public int Conteo { get; set; }

    public List<Productos> ListaProductos { get; set; } = new List<Productos>();
    public List<Mermas> ListaMermas { get; set; } = new List<Mermas>();

    protected override async Task OnInitializedAsync()
    {
        var productos = await httpClient.GetFromJsonAsync<List<Productos>>("api/Productos");
        if (productos is not null)
        {
            ListaProductos = productos;
        }
        Desde = DateTime.Now.AddMonths(-1);
        Hasta = DateTime.Now;
        await Buscar();
    }


    private void VolverAtras()
    {
        NavigationManager.NavigateTo("/MenuProductos");
    }

    public async Task Buscar()
    {
        ListaMermas = await httpClient.GetFromJsonAsync<List<Mermas>>($"api/Mermas") ?? new List<Mermas>();
        Conteo = ListaMermas != null ? ListaMermas!.Count() : 0;

        if (Conteo == 0)
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "No tiene registros guardados.",
                    Duration = 4000
                };
            notificationService.Notify(mensaje);

            return;
        }
        var ListaTemporal = ListaMermas;
        if (opciones == 1)
        {
            ListaMermas = ListaTemporal!.Where(m => m.Activo == true && (string.IsNullOrEmpty(FiltroString) || m.Motivo!.ToLower().Contains(FiltroString.ToLower()))).ToList() ?? new List<Mermas>();
        }
        else if (opciones == 2)
        {
            var IdDeProductos = ListaProductos.Where(p => p.Nombre.ToLower().Contains(FiltroString.ToLower())).Select(p => p.ProductoId).ToList();
            ListaMermas = ListaTemporal!.Where(m => m.Activo == true && IdDeProductos.Contains(m.ProductoId)).ToList() ?? new List<Mermas>();
        }
        else
        {
            ListaMermas = ListaTemporal!.Where(m => m.Activo == true && m.Fecha >= Desde && m.Fecha <= Hasta).ToList() ?? new List<Mermas>();
        }

        Conteo = ListaMermas != null ? ListaMermas!.Count() : 0;
        if (Conteo == 0)
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "No se ha encontrado ningún registro",
                    Detail = "Revise los parámetros utilizados.",
                    Duration = 4000
                };
            notificationService.Notify(mensaje);
        }
        StateHasChanged();
    }

    public string ObtenerNombreProducto(int Id)
    {
        return ListaProductos.Where(p => p.ProductoId == Id).FirstOrDefault()!.Nombre!;
    }
}

